$color-primary:#E87433;
$color-secondary:#718FFA;
$color-foreground:#F5ECE6;
$color-background:#FAFAFA;

$text-color-dark:#0D0603;
$text-color-white:#FFFFFF;
$text-color-placeholder:#B7B4B2;

body {
    background-color: white;
}