@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@mixin text($weight:500, $size:18, $height:24) {
    font-family: 'Helvetica Neue';
    font-style: normal;
    color: #000000;
    font-weight:$weight;
    font-size:toRem($size);
    line-height:toRem($height);
}

.body {
    @include text(500, 18, 24);
    margin:0;
}

h6 {
    @include text(500, 20, 24);
    margin-bottom:0px;
}


h5 {
    @include text(500, 25, 31);
    letter-spacing: toRem(0.5);
    margin-bottom:0px;
}

h4 {
    @include text(700, 32, 39);
    letter-spacing: toRem(0.25);
    margin:0;
}

h3 {
    @include text(700, 49, 49);
    letter-spacing: toRem(1);
    margin-bottom:0px;
    text-transform:capitalize;
}

h2 {
    @include text(700, 60, 73);
    letter-spacing: -toRem(1);
    margin-bottom:0px;
}

h1 {
    @include text(700, 72, 88);
    letter-spacing: toRem(1);
    margin-bottom:0px;
    text-transform:capitalize;
}

.menu {
    @include text(500, 16, 20);
    letter-spacing: toRem(0.25);
}

.button {
    @include text(700, 16, 20);
    letter-spacing: toRem(0.5);

}

.body-thick {
    @include text(700, 16, 20);
}

.caption {
    @include text(500, 12, 15);
    margin-bottom:0;
}

.button-small {
    @include text(500, 14, 17);
    letter-spacing: toRem(0.25);
}