@mixin text($weight:500, $size:18, $height:24) {
    font-family: 'Helvetica Neue';
    font-style: normal;
    color: #000000;
    font-weight:$weight;
    font-size:$size+px;
    line-height:$height+px,
}

.body {
    @include text(500, 18, 24);
    margin:0;
}

h6 {
    @include text(500, 20, 24);
    margin-bottom:0px;
}


h5 {
    @include text(500, 25, 31);
    letter-spacing: 0.5px;
    margin-bottom:0px;
}

h4 {
    @include text(700, 32, 39);
    letter-spacing: 0.25px;
    margin:0;
}

h3 {
    @include text(700, 49, 49);
    letter-spacing: 1px;
    margin-bottom:0px;
}

h2 {
    @include text(700, 60, 73);
    letter-spacing: -1px;
    margin-bottom:0px;
}

h1 {
    @include text(700, 72, 88);
    letter-spacing: 1px;
    margin-bottom:0px;
}

.menu {
    @include text(500, 16, 20);
    letter-spacing: 0.25px;
}

.button {
    @include text(700, 16, 20);
    letter-spacing: 0.5px;

}

.body-thick {
    @include text(700, 16, 20);
}

.caption {
    @include text(500, 12, 15);
    margin-bottom:0;
}

.button-small {
    @include text(500, 14, 17);
    letter-spacing: 0.25px;
}