@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.star-container {
    display:flex;
    justify-content: center;
}

.slider-text {
    width:toRem(800);
    margin: 0 toRem(32);
    padding: 0 toRem(32);
    min-height:toRem(221);
    h5 {
        margin: toRem(32) 0;
        text-align:center;
    }
}

.profile-container {
    display:flex;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom:0;
    }
    svg {
        font-size:toRem(40);
        margin-right:toRem(16);
    }
}

.slider-container {
    display: flex;
    align-items: center;
    z-index:2;
}

.arrow {
    font-size:toRem(35) !important;
}