@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.star-container {
    display:flex;
    justify-content: center;
}

.slider-text {
    width: 100%;
    margin: 0 toRem(32);
    padding: 0 toRem(32);
    min-height:toRem(221);
    h5 {
        margin: toRem(32) 0;
        text-align:center;
    }
}

.profile-container {
    display:flex;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom:0;
    }
    svg {
        font-size:toRem(40);
        margin-right:toRem(16);
    }
}

.slider-container {
    display: flex;
    align-items: center;
    z-index:2;
}

.arrow {
    font-size:toRem(35) !important;
}

@media only screen and (max-width: 610px) {
    .slider-text {
        padding:0;
        margin:0;
    }
}

@media only screen and (max-width: 610px) {
    .slider-text {
        margin:0;
    }
}

@media only screen and (max-width: 469px) {
    .slider-text {
        margin: 0 0.5rem;
        padding: 0;
    }
}

@media only screen and (max-width: 414px) {
    .slider-text {
        margin:0;
        padding:0;
    }

    .review-container {
        padding: 3rem 1rem;
    }
}

@media only screen and (max-width: 360px) {
    h2 {
        font-size: 2.2rem;
        line-height: 2.7rem;
    }
}


@media only screen and (max-width: 360px) {
    .slider-text {
        margin:1.5rem 0;
    }
}


