@use 'colors';
@use 'shadow';
@use 'text';
@use 'animations';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@function toRem($value) {
    $remValue: ($value / 21) + rem; 
    @return $remValue;
}

a {
    color:black;
}

a:hover {
    color:black;
    text-decoration: none;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    overflow:hidden;
}

.menu-icon {
    display:none !important;
}

.opacity {
    opacity:0.4;
}


.header {
    background-color:white;
    padding: 0 toRem(128);
    position:sticky;
    top:0;
    z-index:10;
    a {
        transition:all ease-in-out 200ms;
    }
    a:hover {
        color:colors.$color-primary;
    }
    button {
        transition:all ease-in-out 200ms;
    }
    button:hover {
        border:solid 1.5px colors.$color-primary;
        a {
            color:colors.$color-primary;
        }
    }
}

.mobile-header {
    display:none;
}

.header-container {
    padding:toRem(32) 0;
    display:flex;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
    border-bottom:toRem(1) solid #F5ECE6;
}

.desktop-header {
    display:flex;
    flex-direction: row;
    padding:0;
    margin:0;
    li {
        text-transform: capitalize;
        list-style:none;
        margin:0px toRem(16);
        cursor:pointer;
    }
}

.orange-color {
    color:colors.$color-primary;
}

.square-button {
    padding:toRem(16) toRem(32);
    cursor:pointer;
    border:1.5px solid #0D0603;
    background-color:transparent;
    transition:all ease-in-out 200ms;
}


.square-button-orange {
    @extend .square-button;
    color:white;
    border:1.5px solid colors.$color-primary;
    background: colors.$color-primary;
    transition:all ease-in-out 200ms;
    a {
        color:white;
    }
}

.square-button-orange:hover {
    color:colors.$color-primary;
    background: white;
    a {
        color:colors.$color-primary;
    }
}

.square-button-transparent {
    @extend .square-button;
    border:solid 1px transparent;
    background: transparent;
    transition:all ease-in-out 200ms;
}

.square-button-transparent:hover {
    background-color:colors.$text-color-placeholder;
    a {
        color:white;
    }
    color:white;
}

.square-button-blue {
    @extend .square-button;
    color:white;
    border:toRem(1.5) solid colors.$color-secondary;
    background-color: colors.$color-secondary;
    transition:all ease-in-out 200ms;
    a {
        color:white;
    }
}

.square-button-blue:hover {
    background-color:transparent;
    border-color:white;
/*     color:colors.$color-secondary;
    a {
        color:colors.$color-secondary;
    } */
}


.profile-square {
    height: 85vh;
    object-fit: cover;
    background-color: colors.$color-foreground;
    border-radius:200px;
    width:  44.5%;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index:1;
    display: flex;
    justify-content: center;
    margin-right: toRem(32);
    img {
        object-fit: cover;
    }
}

.presentation-block {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height: auto;
}

.button-container {
    margin-bottom:toRem(64);
    display: flex;
    button:first-child {
        margin-right:1rem;
    }
}

.main {
    margin:0 toRem(32);
}

.bold {
    font-weight:bold;
}

.blue {
    color:colors.$color-secondary;
}

.bottom-36 {
    margin-bottom:toRem(36);
}

.text-block-title {
    width:27%;
    padding: 6rem 0;
    margin-left:toRem(96);
    display:flex;
    flex-direction:column;
    justify-content: center;
    h4 {
        white-space: nowrap;
    }
}

.info-title-block {
    display:flex;
    justify-content: space-between;
    h4 {
        margin-bottom:toRem(8);
    }
}

.stats-block {
    position: relative;
    background-color: colors.$text-color-dark;
    border-radius:32px 32px 200px 200px;
    width:100%;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.white {
    color:white;
}

.margin-17 {
    margin-bottom:toRem(17);
    text-transform:capitalize;
}


.inner-stats-block-1 {
    display:flex;
    width: 58%;
    padding:toRem(40) toRem(128);
    flex-direction:row;
    justify-content: space-between;
}

.inner-stats-block-2 {
    display:flex;
    padding:toRem(40) 0 toRem(40) toRem(128);
    flex-direction:row;
    justify-content: flex-start;
    margin-top:toRem(64);
    position:relative;
}

.inner-stats-data {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:toRem(16) 0;
    border-bottom:solid toRem(1) #c0a89b82;
    .body {
        margin-right: toRem(40);
        text-transform:capitalize;
    }
}

.about-me-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    h2 {
        color:white;
    }
    h1 {
        color:colors.$color-primary;
    }
}

.about-me-description-container {
    display:flex;
    flex-direction:column;
    margin-left: toRem(163);
    width: 53%;
    z-index: 2;
    align-items: center;
    h4 {
        width: 100%;
    }
}

.margin-bottom-16 {
    margin-bottom:toRem(16);
}

.icon-container {
    display: flex;
    width: 35%;
    justify-content: space-around;
    margin-top:toRem(32);
    .link-icon {
        transition:all ease-in 200ms;
        background-color:colors.$color-primary;
        font-size: toRem(38);
        padding: toRem(9);
        border-radius:50%;
    }
}

.icon-container .link-icon:hover {
    background-color:white;
    color:colors.$color-primary;
    .white {
        color:colors.$color-primary;
    }
}

.first-orange-circle {
    position: absolute;
    right: toRem(-55);
}

.projects-block {
    text-align: center;
    margin:toRem(128) toRem(96);
    position:relative;
    h1 {
        color:colors.$color-primary;
        text-transform: capitalize;
    }
}

.projects-blue-rectangle {
    position:absolute;
    bottom: toRem(-40);
    right: toRem(-128);
}

.projects-orange-circle {
    position:absolute;
    left: toRem(-128);
}

.project-blocks {
    margin:toRem(64) 0px;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:toRem(64) toRem(70);
    grid-template-areas: 
        'a b c'
        'd e c';

    div.single-project-block:nth-child(1) {
        grid-area: a;
        height: 100%;
    }
    div.single-project-block:nth-child(2) {
        grid-area: b;
        height: 100%;
    }
    div.single-project-block:nth-child(3) {
        grid-area: c;
        max-height: 55vh;
    }
    div.single-project-block:nth-child(4) {
        grid-area: d;
        height: 100%;
    }
    div.single-project-block:nth-child(5) {
        grid-area: e;
        height: 100%;
    }
    img {
        object-fit: cover;
        height:100%;
        width: 100%;
    }
}

.project-block-button:hover {
    background-color:colors.$text-color-dark;
    color:white;
}

.single-project-block {
    width: 100%;
    min-height: 20vh;
    overflow:hidden;
    position:relative;
    filter: drop-shadow(4px 4px 16px rgba(20, 9, 3, 0.08));
    border-radius: 16px;
}

.single-project-block:hover {
    .project-img-cover {
        opacity:1;
    }
}




.project-img-cover {
    opacity:0;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
/*     visibility:hidden; */
    position:absolute;
    display:flex;
    width:100%;
    overflow: hidden;
    height:100%;
    padding: 2rem;
    text-align: left;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    h4, p, h6 {
        position: relative;
        z-index:2;
    }
    h4, h6 {
        margin-bottom:1rem;
        color:white;
    }
    .body {
        color:colors.$color-foreground;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.project-button-container {
    position: relative;
        z-index:2;
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    div {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        margin-right:1rem;
    }
    .project-icon {
        color:white;
        margin-left:0.2rem;
    }
    h5 {
        margin-bottom:0;
        color:white;
        text-decoration:underline;
    }
    a {
        color:white;
    }
}

.project-img-opacity {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index: 1;
    background-color: #000000;
    opacity: 0.8;

}

.extra-project-blocks {
    width:100%;
    overflow:hidden;
    margin:0;
    max-height:0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    transition:all ease-in-out 0.55s;
    gap:toRem(64) toRem(70);
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.grow-block {
    margin:toRem(64) 0px;
    max-height: 50vh;
}



.center-div {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    z-index:2;
}

.light-square-block {
    background-color: colors.$color-background;
    width:100%;
    border-radius:32px;
    padding:toRem(128);
    margin: toRem(32) 0px;
}

.skills-block {
    width:100%;
    margin-bottom: toRem(128);
    display:flex;
    justify-content: space-between;
}

.skills-grid {
    margin-right: toRem(94);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:toRem(64) toRem(96);
}

.black-square-container {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.black-squares-block {
    width:fit-content;
}

.black-square {
    box-shadow: 4px 4px 16px rgba(20, 9, 3, 0.08);
    border-radius: 56px;
    background-color: colors.$text-color-dark;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:toRem(32) toRem(64);
    width: toRem(224);
    height: toRem(224);
    justify-content: space-around;
    margin-bottom:toRem(16);
    transition:all ease-in-out 200ms;
    img {
        width:100%;
    }
    h5 {
        color:white;
        text-align:center;
    }
}

.black-square:hover {
    transform:scale(1.05)
}

.skills-text-block {
    text-align: center;
    h1 {
        color: colors.$color-primary;
    }
    h6 {
        margin-top: toRem(16);
        margin-bottom:toRem(16);
        text-align:center;
    }
}

.education-block {
    position:relative;
    padding-top: toRem(128);
    h1 {
        color: colors.$color-primary;
    }
}

.triple-blue-circle {
    position:absolute;
    right:toRem(-160);
    top: 0;
}

.timeline-container {
    display:flex;
    column-gap: 8.5%;
    justify-content: space-between;
    margin-top:toRem(64);
    z-index:2;
    position: relative;
}

.timeline-col {
    flex:1;
    div {
        margin-top:toRem(32);
        h4 {
            margin-bottom:toRem(8);
        }
    }
}

.review-container {
    background-color:colors.$color-foreground;
    border-radius:32px;
    margin:32px 0px;
    width:100%;
    display: flex;
    justify-content: center;
    padding: toRem(128);
    position:relative;
    overflow: hidden;
}

.blue-quote {
    position:absolute;
    top: toRem(-32);
    right: toRem(-32);
}

.orange-quote {
    position:absolute;
    left: -30px;
    bottom: -32px;
}

.contact-container {
    margin:toRem(32) 0;
    display:flex;
    justify-content: space-between;

}

.get-in-touch-block {
    margin-right:toRem(32);
    width: 32%;
    background-color: colors.$color-primary;
    padding:toRem(64);
    border-radius:toRem(32);
    h3 {
        color:white;
        margin-bottom:toRem(16);
    }
    .body {
        color:colors.$color-foreground;
    }
}

.contact-form-block {
    width:68%;
    background-color: colors.$text-color-dark;
    padding:toRem(64);
    border-radius:32px;
}

.get-in-touch-title {

}

.get-in-touch-numbers {
    margin-top: toRem(130);
    span {
        color:colors.$color-foreground;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom:toRem(32);
    }
    h5 {
        margin-left:toRem(8);
        color:colors.$color-foreground;
    }
}

.form-first-section {
    justify-content: space-between;
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.alert {
    margin-bottom:1.5rem;
    padding:6px 16px;
    max-height:20vh;
    transition:all ease-in-out 200ms;
}


.no-height {
    padding:0 !important;
    max-height:0;
    overflow:hidden;
    transition:all ease-in-out 200ms;
}

.input-container {
    display:flex;
    margin-bottom:toRem(32);
    flex-direction:column;
    width:47%;
    label {
        text-transform: capitalize;
        color:white;
        margin-bottom:toRem(16);
        @extend h6;
    }
    input, textarea {
        border-radius:8px;
        border:0px solid white;
        padding:toRem(16);
    }
}

.form-second-section {
    h6 {
        color:white;
    } 
    label {
        @extend .body;
        color:white;
        white-space: nowrap;
        margin-left:toRem(8);
        text-transform: capitalize;
    }
}

.radio-container {
    display:flex;
    flex-wrap: wrap;
    .radio {
        margin-right:toRem(32);
        margin-top: toRem(16);
        display:flex;
        align-items: center;
        input {
            height: 100%;
            width: toRem(19);
        }
    }
}

.form-third-section {
    margin-top:toRem(32);
    margin-bottom:toRem(32);
    .input-container {
        width:100%;
    }
}



.form-button {
    border-radius:8px;
    transition:all ease-in-out 200ms;
    background-color:colors.$color-primary;
/*     border:solid 1px colors.$color-primary; */
    padding:toRem(16);
    color:white;
    min-width:8rem;
    border:solid 0px;
    @extend .button;
}

.form-button2 {
    border-radius:8px;
    transition:all ease-in-out 200ms;
    background-color:colors.$color-primary;
/*     border:solid 1px colors.$color-primary; */
    padding:toRem(16);
    color:white;
    border:solid 0px;
    min-width:8rem;
    @extend .button;
}

.form-button:hover {
    background-color:white;
    color: colors.$color-primary;
}

.form-button-container {
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.credits-container {
    background-color:colors.$color-secondary;
    border-radius:16px;
    margin:0 0 toRem(16) 0;
    text-align:center;
    padding:toRem(32);
    h6 {
        color:white;
    }
}

.only-mobile {
    display:none;
}


@media only screen and (max-width: 1600px) {
    .inner-stats-data {
        padding: 0.5rem 0;
    }

    .inner-stats-block-1 {
        padding: 1.4rem 6rem;
    }
}

@media only screen and (max-width: 1536px) {
    .button-container {
        margin-bottom: 2rem;
    }

    /* .presentation-block {
        height: 63vh;
    } */

    .black-square {
        width: 9rem;
        height: 9rem;
    }

    .skills-grid {
        gap: 2.5rem;
    }
}

@media only screen and (max-width: 1366px) {
    .text-block-title {
        width: 32%;
    }

    .inner-stats-block-1 {
        width: 60%;
    }

    .profile-square {
        border-radius: 160px;
        height: 82vh;
    }
}

@media only screen and (max-width: 1280px) {
    .black-square {
        width: 8.5rem;
        height: 8.5rem;
        border-radius:45px;
    }

    .about-me-description-container {
        margin-left: 5rem;
    }

    .projects-orange-circle {
        width: 20%;
    }

    .projects-blue-rectangle {
        width: 18%;
        bottom: 3rem;
    }

    .input-container {
        margin-bottom: 1rem;
        label {
            margin-bottom: 0.5rem;
        }
        input {
            padding: 0.5rem;
        }
        textarea {
            height: 90px;
        }
    }
    .contact-form-block {
        padding: 2.8rem;
    }
    .get-in-touch-block {
        padding: 2.8rem;
    }

}



@media only screen and (max-width: 1024px) {
    .skills-grid {
        gap: 2rem 3rem;
        grid-template-columns: 1fr 1fr;
    }

    .black-square {
        border-radius: 30px;
        width:7rem;
        height:7rem;
        padding: 2rem;
        img {
            height: 65%;
            width:auto;
            margin-bottom: 0.5rem;
        }
        h5 {
            white-space: nowrap;
            font-size: 1rem;
        }
    }

    .text-block-title {
        width: 34%;
    }

    .profile-square {
        border-radius: 120px;
        width: 40%;
        height: 83vh;
        display: flex;
        justify-content: center;
        img {
            width:120%;
        }
    }

    .inner-stats-block-1 {
        padding: 1.5rem 5rem;
        width: 66%;
    }

    .text-block-title {
        margin-left: 4rem;
    }

    .button-container {
        margin-bottom: 2rem;
    }

    .inner-stats-data {
        padding: 0.5rem 0;
    }

    /* .presentation-block {
        height: 64vh;
    } */

    .about-me-description-container {
        margin-left: 4rem;
        width: 62%;
    }

    .first-orange-circle {
        right: -8rem;
        bottom: 2rem;
    }

    .projects-orange-circle {
        width: 25%;
    }

    .projects-blue-rectangle {
        width: 21%;
        bottom: 0rem;
    }

    .triple-blue-circle {
        width: 50%;
    }

    .get-in-touch-block {
        padding: 2.4rem;
    }

    .contact-form-block {
        padding: 2.4rem;
    }

}



//tablet
@media only screen and (max-width: 962px) {
    .bottom-36 {
        margin-bottom: 1rem;
    }

    .profile-square {
        width: 40%;
        height: 80vh;
    }

    .margin-17 {
        margin-bottom: 0.5rem;
    }

    .inner-stats-data {
        padding: 0.4rem 0;
    }

    .inner-stats-block-2 {
        margin-top: 2rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .get-in-touch-block {
        width:100%;
        margin-bottom:toRem(32);
    }

    .get-in-touch-numbers {
        margin-top: 3rem;
    }

    .contact-form-block {
        width: 100%;
    }
    
}

@media only screen and (max-width: 810px) {
    .header {
        padding: 0 3rem;
    }

    /* .presentation-block {
        height: 36vh;
    } */

    .profile-square {
        height: 50vh;
        border-radius: 60px;
        position:static;
        height: 100%;
    }

    .stats-block {
        border-radius: 32px 32px 150px 150px;
    }

    .inner-stats-block-1 {
        width: 100%;
    }

    .first-orange-circle {
        left: -5rem;
        bottom: -6rem;
    }

    .icon-container {
        width: 55%;
    }

    .project-blocks {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'a b'
            'c d'
            'e e';
    }

    .skills-block {
        flex-flow: column-reverse;
    }

    .skills-text-block img {
        display:none;
    }

    .skills-grid {
        margin: 2rem 0;
        grid-template-columns:1fr 1fr 1fr;
    }

    .education-block {
        padding-top:0;
    }

    .orange-quote {
        width: 35%;
        left: -21px;
        bottom: -22px;
    }

    .blue-quote {
        width: 35%;
        right: -1rem;
        top: -1rem;
    }
}

@media only screen and (max-width: 769px) {
    .text-block-title {
        padding: 4rem 0;
        width: 40%;
    }
}


@media only screen and (max-width: 769px) {
    .text-block-title {
        width: 42%;
        margin-left: 3rem;
    }

    .inner-stats-block-2 {
        margin-top: 0;
    }

}


@media only screen and (max-width: 704px) {
    .header {
        button {
            display:none;
        }
    }

    .desktop-header {
        display:none;
    }

    .menu-icon {
        display:block !important;
    }

    .mobile-header {
        display:flex;
        justify-content: center;
        ul {
            padding:0;
            width: 100%;
        }
        ul li {
            border-bottom:toRem(1) solid #F5ECE6;
            padding: 1rem 0;
            list-style:none;
            text-transform:capitalize;
            text-align:center;
        }
    }

}





@media only screen and (max-width: 610px) {
    .only-mobile {
        display:flex;
    }

    .only-wide {
        display:none;
    }

    .review-container {
        padding:4rem 2rem;
    }

    .presentation-block {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-square {
        height:70%;
        margin-right:2rem;
    }

    .text-block-title {
        margin-left:2rem;

    }

    .info-title-block {
        width:100%;
        border-radius: 32px;
        background-color: #FAFAFA;
        padding:2rem;
        margin-bottom: 1rem;
    }

    .text-block-title {
        width: 44%;
        padding-bottom: 2rem;
    }

    .inner-stats-block-1 {
        padding: 1.5rem 3rem;
    }

    .inner-stats-block-2 {
        padding: 1.5rem 3rem;
    }

    .project-blocks {
        gap: 1.5rem;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    .black-square {
        width: 7.5rem;
        height: 7.5rem;
    }

    .timeline-container {
        flex-direction: column;
    }

    .timeline-col {
        padding:1.2rem 0;
        border-bottom:1px solid colors.$text-color-placeholder;
    }


    .input-container {
        width:100%;
    }
}

@media only screen and (max-width: 570px) {
    .text-block-title {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
}


@media only screen and (max-width: 475px) {
    .profile-square {
        border-radius:41px;
        width: 35%;
        height: 55%;
        margin-right: 1.5rem;
    }

    .text-block-title {
        margin-left:1.5rem;
        width: 48%;
    }


    .square-button, .square-button-orange, .square-button-blue, .square-button-transparent {
        padding: 0.5rem 1.1rem;
    }

    .presentation-block {
        padding-top: 1.5rem;
    }

    .inner-stats-block-2 {
        flex-direction: column;
    }

    .about-me-description-container {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .first-orange-circle {
        display:none;
    }

    .projects-block {
        margin: 3rem 1rem;
    }

    .projects-orange-circle {
        left:-3rem;
    }

    .projects-blue-rectangle {
        right: -3rem;
    }

    .light-square-block {
        padding: 3rem 2rem;
    }

    .black-square {
        width: 8rem;
    height: 8rem;
    }

    .black-squares-block {
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .skills-block {
        margin-bottom: 3rem;
    }

    .skills-grid {
        gap: 1rem 2rem;
    }


}


@media only screen and (max-width: 414px) {
    .inner-stats-block-1 {
        flex-direction: column;
        div:first-child {
            margin-bottom:0.5rem;
        }
    }

    .button-container {
        button:first-child {
            margin-right:0rem;
            margin-bottom:0.5rem;
        }
    }

    .button-container {
        flex-direction: column;
    }

    .inner-stats-block-1 {
        padding: 1.5rem 2rem;
    }
    .inner-stats-block-2 {
        padding:0rem 2rem 1.5rem 2rem;
    }

    .stats-block {
        border-radius: 32px 32px 100px 100px;
    }

    .project-blocks {
        gap: 0.9rem;
        margin: 2rem 0;
    }

    .stats-block {
        gap: 1rem 2rem;
    }

    .skills-block {
        margin-bottom: 1rem;
    }

    

    .timeline-container {
        margin-top: 2rem;
    }

}


@media only screen and (max-width: 393px) {
    .black-square {
        width: 7rem;
        height: 7rem;
    }

    .button-container {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .light-square-block {
        padding:2rem;
    }

    .skills-grid {
        gap:1rem;
    }

    .timeline-container {
        margin-top: 1rem;
    }

    .project-blocks {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'a'
            'b'
            'c'
            'd'
            'e';
    }
}


@media only screen and (max-width: 350px) {
    .profile-square {
        display:none;
    }

    .text-block-title {
        width:100%;
        margin: 0;
    }

    .info-title-block {
        padding: 1.5rem;
    }
    .black-square h5 {
        font-size: 0.8rem;
    }

    .black-square {
        width: 6rem;
        height: 6rem;
        border-radius:25px;
    }
}