.main-text {
    color:white;
    font-family: 'Roboto';
    font-size:30px;
    font-weight:400;
}

.main {
    position: relative;
    width: 80px;
    height: 55px;
    display:flex;
    justify-content: center;
    p {
        display:flex;
        align-items:center;
        margin:0;
    }
}


.main:before {
    display: block;
    content: "";
    width: 23px;
    height: 32px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.main:after {
    display: block;
    content: "";
    width: 23px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}