.feedback-container {
    min-height:80vh;
    display:flex;
    align-items:center;
}

.feedback-icon {
    color:white;
    font-size:3rem;
}

.fb-main {
    width:40%;
}

.fb-square {
    height:40vh;
    width:100%;
    background-color: #C4C4C4;
}

.fb-arrow {
    display:flex;
    align-items:center;
}