.contact-container {
    min-height:80vh;
}

.main-input {
    background-color:white;
    border-radius:10px;
}

/* .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform:translate(4px, -30px) scale(1.3) !important;
} */